@import "../../assets/css/preset";

body{
    background-image: url(../../assets/img/mp.svg);
    background-position: 140% 260%;
    background-repeat: no-repeat;
}

main.products{
    display: flex;
    gap:60px;

    section{
        h1{
            font-size: 57px;
            font-family: $primaryFontBold;
            letter-spacing: -0.05em;
            margin-bottom: 20px;
        }    
        table{
            thead{
                tr{
                    padding: 10px 10px !important;
                    box-shadow: none !important;
                    background: transparent;
                    th{
                        font-size:14px;
                        padding: 10px 30px !important;
                        font-family: $primaryFontBold;
                        text-align: left;
                    }    
                }
            }
            tr{
                background:#fff;
                box-shadow: 15px 15px 60px rgba(155, 67, 35, 0.08);
                padding: 20px;
                border-radius: 20px;
                td{
                    padding: 20px 30px;
                    font-size: 15px;
                    span{
                        font-size: 14px;
                    }
                }
                td.price{
                    font-family: $primaryFontSemiBold;
                    color:green;
                }
                td.price_1{
                    opacity:0.6;
                }
                td.price_2{
                    opacity:0.4;
                }
                td span{
                    font-family: $primaryFontSemiBold;
                }
                td:first-of-type{
                    border-radius: 20px 0px 0px 20px; 
                }
                td:last-of-type{
                    border-radius: 0px 20px 20px 0px;
                }
               
            }
        }
        .modal table{
            td, th{
                width: 50%;
            }
            th{
                text-align: left;
            }
        }
    }
}